<mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
        <form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
            <mat-form-field class="full-width">
                <input matInput formControlName="userName" placeholder="Enter your username">
            </mat-form-field>
            <mat-form-field class="full-width">
                <input type="password" matInput formControlName="password" placeholder="Enter your password">
            </mat-form-field>

            <button mat-button color="primary">Login</button>
            <a mat-button color="default" href="./register">Register</a>
        </form>
    </mat-card-content>
</mat-card>