<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form class="form">
      <mat-form-field class="full-width">
        <input matInput placeholder="Enter your username">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input type="password" matInput placeholder="Enter your password">
      </mat-form-field>
      
      <button mat-button color="primary">Login</button>
      <a mat-button color="default" href="./register">Register</a>
    </form>
  </mat-card-content>
</mat-card>